<!-- Si no existe el titulo le pone el string Alert Page -->
<app-header [titulo]="titulo || 'Alert Page'"></app-header>

<ion-content padding>

  <!-- Color azul, expandido a toda la pantalla y con el evento click que lanza la funcion presentAlert-->
  <ion-button color="primary" 
              expand="full" 
              (click)="presentAlert()">
    Mostrar alerta
  </ion-button>

  <ion-button color="secondary" 
              expand="full" 
              (click)="presentAlertPrompt()">
    Mostrar input
  </ion-button>

</ion-content>
