<ion-header>
  <ion-toolbar>
    <!--Combinacion de botones-->
    <!--Con slot start elegimos la posicion de los botones-->
    <ion-buttons slot="start">
      <!-- Si existe un historial de pagina regresa a la anterior-->
      <!-- El botón aparece solo cuando una historial pasado,
      Para forzar que aparezca siempre se añade defaultHref y la ruta
      a la que se quiera redirigir cuando no haya historial-->
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
